@media screen and (max-width: 600px) {
    #barSolid {
        display: block;
    }
    header {
        grid-template-columns: repeat(3, 1fr);
        display: grid;
    }

}

@media screen and (max-width: 600px) {
    .socialLinks, .navBar {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #DYKTTATUOB {
        width: 330px;
        height: 330px;
        margin: 27px auto;
    }
}


@media screen and (max-width: 600px) {
    .yt {
        flex-direction: column;
    }

    .yt iframe {
        margin: 17px 10px;
    }
}

@media screen and (max-width: 600px) {
    .buttonLink {
        margin: 4px 3px;
    }

    .tourTag {
        margin-bottom: 20px;
    }

    .horizontalRule {
        margin: 16px 50px;
    }
}

@media screen and (max-width: 600px) {
    .event {
        padding: 20px;
        margin: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .ticketContainer {
        display: none;
    }

    .dateContainer {
        display: flex;
    }

    .date, .month {
        font-size: 14px;
        padding: 2px;
    }

    .ubi {
        font-size: 23px;
        text-align: left;
    }

    .ubication {
        text-align: left;
    }

}